<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="b-popup" id="popup1">
        <div class="b-popup-content">

            <div class="b-popup-menu">
                <form method="POST">
                    <div> <label for="name">Имя</label>
                        <input type="text" name="name" class="field" required>
                    </div>
                    <div>
                        <label for="phone">Телефон</label>
                        <input type="phone" name="phone" class="field" required>
                    </div>
                    <div>
                        <label for="time">Время записи</label>
                        
                        <select name="times" class="field">
                            <option>Выберите время</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                        </select>
                    </div>

                    <button id='submit' type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

</body>
<html>
