<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

</head>

<body>

    <head>
        <article id="Home"></article>
        <div class="logo">
            <a href="#"><img src="logo.png" alt="logo" class="logo_grafick"></a>
        </div>
        <nav>
            <div class="topnav" id="Mytopnav">
                <a href="#Home">Главная</a>
                <a href="#About">О нас</a>
                <a href="#price">Цены</a>
                <a id="menu" href="#" class="icon">&#9776</a>
            </div>
        </nav>
    </head>

    <main>
        <img src="web.jpg" alt="" class="w100">

        <div class="menu_text">
            <article id="About"></article>
            <p class="text">Первая парикмахерская Birdie открылась весной 2013. Идеальная прическа — простая и удобная в повседневной жизни. Укладка не выдаст в вас завсегдатая салонов красоты. А о том, что от природы ваши волосы другого цвета, мы сохраним в секрете. Помимо процедур по уходу за волосами, в парикмахерской можно так же сделать коррекцию бровей, макияж, маникюр и педикюр.
                Нашим ключевым принципом является здоровье клиента, поэтому в первую очередь мы отказались от процедур и косметики, негативно влияющих на состояние волос и ногтей.</p>
        </div>

        <img src="web2.jpg" alt="" class="w100">

        <div class="menu_text">
            <p class="text">У нас все просто. Идеальная прическа — простая и удобная
                в повседневной жизни. Она не требует многочасовых укладок перед зеркалом и будет уместно смотреться в любом контексте будь то свидание или офис со строгим дресс-кодом. Для окрашивания волос мы используем щадящие красители Davines и органические красители Organic Сolour Systems, позволяющие добиться оттенков, приближенных к натуральным</p>
        </div>

        <article id="price"></article>

        <div class="menu_container">
            <div class="menu">

                <div class="menu_item">
                    <h4>Стрижка с укладкой</h4>
                    <a href="/create"><button><b>1800 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Стрижка</h4>
                    <a href="/create"><button><b>1500 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Детская стрижка</h4>
                    <a href="/create"><button><b>1500 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Укладка</h4>
                    <a href="./create"><button><b>1000 ₽</b></button></a>

                </div>

                <div class="menu_item">
                    <h4>Стрижка челки</h4>
                    <a href="/create"><button><b>550 ₽</b></button></a>
                </div>

                <div class="menu_item">

                    <h4>Окрашивание</h4>
                    <a href="/create"><button><b>2500 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Уход от Olaplex</h4>
                    <a href="/create"><button><b>1500 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Мужская стрижка</h4>
                    <a href="/create"><button><b>1500 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Мужская стрижка с укладкой</h4>
                    <a href="/create"><button><b>1000 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Коррекция бровей</h4>
                    <a href="/create"><button><b>1200 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Окрашивание бровей</h4>
                    <a href="/create"><button><b>900 ₽</b></button></a>
                </div>

                <div class="menu_item">
                    <h4>Макияж</h4>
                    <a href="/create"><button><b>2200 ₽</b></button></a>
                </div>

            </div>
        </div>


        <table>
            <tr>
                <th>Имя</th>
                <th>Время</th>
                <th>Удалить запись</th>
            </tr>
            {{#each users}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.times}}</td>
                     <td>
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
                </tr>
            {{/each}}
        </table>

    </main>


    <script src="sc.js"></script>
    <script src=main.js></script>
</body>

</html>
