*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.logo {
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_grafick {
    padding: 5px;
    max-width: 100%;
}

nav {
    width: 100%;
}

.icon {
    display: none;
}

.topnav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.topnav a {
    margin-left: 20px;
    text-align: center;
    color: #222;
    padding: 14px 16px;
}

.topnav a:hover:not(:last-child) {
    border-bottom: 2px solid #222;
}

.w100 {
    max-width: 100%;
}

.menu_container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}

.menu_item {
    width: 30%;
}

#footer_b {
    position: absolute;
    bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    height: 190px;
    width: 100%;
    background: #222;
}

.footer_topnav {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;

}

.footer_topnav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;

}

.galary_container {
    display: flex;
    justify-content: center;

}

.galary {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.galary_item {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.pict {
    padding: 20px;
    width: 300px;
    height: 200px;
    opacity: 0.55;
}



.pict:hover {
    opacity: 1;
    padding: 0;
    margin: 20px;
    border-radius: 15%;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 20px 10px gray;
}

@media screen and (min-width:1400px) {

    .w100 {
        min-width: 100%;
    }
}

@media screen and (max-width:1530px) {
    .galary_item {
        width: 40%;
    }

    #footer_b {
       position: relative;
    }

}

@media screen and (max-width:768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    nav {
        width: 100%;

    }

    .topnav a.icon {
        float: right;
        display: block;
        color: #222;
        margin-top: -5px;
    }

    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive {
        display: block;
        height: 45vh;
    }

    .topnav.responsive a {
        display: block;
        margin-left: 0;
        text-align: left;
    }

    .topnav.responsive a:hover {
        border-bottom: none;
        color: gray;
    }

    .menu_item {
        width: 45%;
    }

    .galary_item {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .pict {
        width: 65vw;
        height: 30vh;
    }

    .pict:hover {
        padding: 0;
        margin: 20px;
        border-radius: 15%;
        width: 67vw;
        height: 32vh;
        box-shadow: 2px 2px 20px 10px gray;
    }

    @media screen and (max-width:470px) {

        .menu_item {
            width: 100%;
        }

        .galary_item {
            width: 100%;
        }

    }
