body {
    margin: 0;
    font-family: sans-serif;
    
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.content{
    transition: 0.5s;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main {
    background-color: #c8b0b3;
}

.news {
    background-color: #e3d9c5;
}

.contacts {
    background-color: #ffd591;
}

.portfolio {
    background-color: #c67335;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.menu {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8b99c;
    transition: 0.5s;
    transform: translateX(-100%);
}
.content_active {
    transform: translateX(30%);
}
.menu_active {
    transform: translateX(0%);
}

.menu-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
}

.section {
    position: absolute;
    top: 10px;
    right: -35px;
}

.menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    height: 2px;
    background-color: #222;
    width: 16px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -8px;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn_active span {
    height: 0;
}
.menu-btn_active span:before{
 transform: rotate(40deg);   
}
.menu-btn_active span:after{
transform: rotate(-40deg);
}